* {
  box-sizing: border-box;
}

body {
  padding: 20px 16px;
  margin: 0px;
}

#main-header {
	background: #44403C;
  position: fixed;
	color: white;
	max-height: 68px;
  width: 100%;
  left: 0;
  top: 0;
}

#main-header p {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 30px;
  max-height: 36px;
}

h1 {
  text-align: left;
  max-width: 100%;
  max-height: 120px;
  margin-bottom: 32px;
  margin-top: 96px;
  font-size: 36px;
  color: #111827;
}

p {
  text-align: justify;
  margin: 24px 0px 24px;
}

blockquote {
  margin-left: 0px;
  margin-right: 0px;
  text-align: justify;
}

#main-footer {
	background: #44403C;
	color: white;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
    text-align: center;
	}