* {
  box-sizing: border-box;
}

body {
  padding: 20px 16px;
  margin: 0px;
}

h1 {
  text-align: center;
  max-width: 736px;
  max-height: 40px;
  margin-bottom: 32px;
  margin-top: 0px;
  font-size: 36px;
  color: #111827;
}

h2 {
  text-align: center;
  max-width: 736px;
  max-height: 40px;
  margin-top: 56px;
  margin-bottom: 24px;
  font-size: 30px;
  color: #111827;
}

h3 {
  text-align: left;
  max-width: 736px;
  max-height: 40px;
  margin-top: 32px;
  margin-bottom: 12px;
  font-size: 24px;
  color: #111827;
}

p {
  text-align: justify;
  margin: 24px 0px 24px;
}

