.input {
  color: var(--gray-900);
  width: 100%; 
  font-size: 1rem;
  line-height: 1.25rem;
  padding: .5rem .75rem;
  border-radius: 6px;
  border: 1px solid var(--gray-700);
  background-color: var(--white);
  margin-top: .25rem;
}

.input::placeholder {
  color: var(--gray-500);
  font-weight: 300;
}

.input:focus {
  outline: 3px solid var(--info);
}

.input:invalid {
  border: 1px solid var(--error);
  color: var(--error);
}

.input--with-icon {
  width: 100%;
  position: relative;
}

.input__icon {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  color: var(--gray-500);
  pointer-events: none;
  left: 0.75rem;
}

.input__content {
  position: relative;
  padding-inline-start: 2rem;
  padding-inline-end: .75rem;
}

.input--error {
  border: 1px solid var(--error);
}

.input__message,
.select__message {
  display: block;
  margin: .25rem 0;
  font-size: .875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  text-transform: capitalize;
}

.input__message--help,
.select__message--help {
  color: var(--gray-500);
}

.input__message--error,
.select__message--error {
  color: var(--error);
}

.select {
  color: var(--gray-700);
  width: 100%;
  font-weight: 300;
  font-size: 1rem;
  padding: .5rem .75rem;
  border-radius: .375rem;
  background-color: var(--white);
  border: 1px solid var(--gray-700);

  cursor: pointer;
  padding-right: 2.5rem;
  margin-top: .25rem;

  appearance: none;
  background-image: url(/assets/Images/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: calc(100% - 12px);
}

.select--error {
  border: 1px solid var(--error)
}