.about-summary__title,
.about-hobbies__title {
  text-align: center;
  margin-bottom: 3rem;
}

.about-summary__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
}

.about-summary__card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

svg {
  margin-right: .5rem;
  width: 3rem;
  height: 1.35rem;
  fill: var(--green-500);
  transform: scale(2);
}

.about-hobbies__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  text-align: center;
  margin: 1rem 0;
}

.about-hobbies__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625em;
}

.about-hobbies img {
  border-radius: 8px;
}

.about-hobbies p {
  line-height: 30px;
  font-weight: 300;
  padding: 0 8px;
}